﻿@model JLLF.Presentation.ViewModels.CompositeViewModel

@{
    ViewData["Title"] = "Agendamento";
}

<label style="font-weight:bold">Inserir Agendamento</label>

<br />
<br />

<form asp-controller="Schedulings" asp-action="Create">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label style="font-weight:bold">Colaborador</label>
            <select asp-for="IdCollaboratorViewModel" class="form-control">
                @{
                    foreach (var item in Model.ResponseCollaboratorsViewModel)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
        </div>
        <div class="form-group col-md-6">
            <label style="font-weight:bold">Cliente</label>
            <select asp-for="IdCustomerViewModel" class="form-control">
                @{
                    foreach (var item in Model.ResponseCustomersViewModel)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label style="font-weight:bold">Serviço</label>
            <select asp-for="IdServiceProvidedViewModel" class="form-control">
                @{
                    foreach (var item in Model.ResponseServicesProvidedViewModel)
                    {
                        <option value="@item.Id">@item.Description</option>
                    }
                }
            </select>
        </div>
        <div class="form-group col-md-6">
            <label style="font-weight:bold">Data e Horário</label>
            <input asp-for="DateTime" class="form-control" type="datetime-local" required value="@DateTime.Now" />
            <span asp-validation-for="DateTime" class="text-danger" style="font-weight:bold"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button class="btn btn-outline-warning btn-block" type="submit" style="font-weight:bold">Salvar</button>
        </div>
    </div>
</form>