﻿@model IList<JLLF.Presentation.ViewModels.ResponseSchedulingViewModel>

@{
    ViewData["Title"] = "Agendamentos";
}

<label style="font-weight:bold">Agendamentos</label>

<br />
<br />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" />

<table class="table table-responsive-sm">
    <thead>
        <tr>
            <th style="display:none">Código</th>
            <th>Colaborador</th>
            <th>Cliente</th>
            <th>Serviço</th>
            <th>Data</th>
            <th>Horário</th>
            <th>Status</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td style="display:none">@item.Id</td>
                    <td>@item.CollaboratorViewModel.Name</td>
                    <td>@item.CustomerViewModel.Name</td>
                    <td>@item.ServiceProvidedViewModel.Description</td>
                    <td>@item.DateTime.Date.ToShortDateString()</td>
                    <td>@item.DateTime.TimeOfDay</td>
                    @if (@item.Status == true)
                     {
                        <td>Atendido</td>
                     }
                     else
                     {
                        <td>Aguardando</td>
                     }
                    <td>
                        <button class="btn btn-outline-warning btn-sm" type="button" style="font-weight:bold" onclick="Update(@item.Id)">Editar</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-warning btn-sm" type="button" style="font-weight:bold" onclick="UpdateStatus(@item.Id)">Atender</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<button class="btn btn-outline-warning btn-block" type="button" style="font-weight:bold" onclick="Create()">Novo</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<script>
    var strValue = "@((string)ViewBag.message)";

    if (strValue !== null && strValue !== '')
    {
        swal("", strValue, "success");
    }
</script>

<script>
    function Update(id)
    {
        window.location.href = "../Schedulings/Update/" + id;
    }

    function UpdateStatus(id)
    {
        window.location.href = "../Schedulings/UpdateStatus/" + id;
    }

    function Create()
    {
        window.location.href = "../Schedulings/Create";
    }
</script>