﻿@model JLLF.Presentation.ViewModels.CompositeViewModel

@{
    ViewData["Title"] = "Agendamento";
}

<label style="font-weight:bold">Deseja realmente marcar o agendamento como atendido?</label>

<br />
<br />

<form asp-controller="Schedulings" asp-action="UpdateStatus">
    <input asp-for="Id" type="hidden" value="@Model.Id" />
    <div class="form-row" hidden>
        <div class="form-group col-md-6" hidden>
            <label style="font-weight:bold" hidden>Colaborador</label>
            <select asp-for="IdCollaboratorViewModel" class="form-control" hidden value="@Model.ResponseCollaboratorsViewModel.Where(rcvm => rcvm.Id == Model.IdCollaboratorViewModel).First().Id">
                @{
                    foreach (var item in Model.ResponseCollaboratorsViewModel)
                    {
                        <option hidden value="@item.Id">@item.Name</option>
                    }
                }
            </select>
        </div>
        <div class="form-group col-md-6" hidden>
            <label style="font-weight:bold" hidden>Cliente</label>
            <select asp-for="IdCustomerViewModel" class="form-control" hidden value="@Model.ResponseCustomersViewModel.Where(rcvm => rcvm.Id == Model.IdCustomerViewModel).First().Id">
                @{
                    foreach (var item in Model.ResponseCustomersViewModel)
                    {
                        <option hidden value="@item.Id">@item.Name</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-row" hidden>
        <div class="form-group col-md-6" hidden>
            <label style="font-weight:bold" hidden>Serviço</label>
            <select asp-for="IdServiceProvidedViewModel" class="form-control" hidden value="@Model.ResponseServicesProvidedViewModel.Where(rspvm => rspvm.Id == Model.IdServiceProvidedViewModel).First().Id">
                @{
                    foreach (var item in Model.ResponseServicesProvidedViewModel)
                    {
                        <option hidden value="@item.Id">@item.Description</option>
                    }
                }
            </select>
        </div>
        <div class="form-group col-md-6" hidden>
            <label style="font-weight:bold" hidden>Data e Horário</label>
            <input asp-for="DateTime" class="form-control" type="hidden" required value="@Model.DateTime" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button class="btn btn-outline-warning btn-block" type="submit" style="font-weight:bold">Sim</button>
        </div>
    </div>
</form>