﻿@model JLLF.Presentation.ViewModels.CompositeViewModel

@{
    ViewData["Title"] = "Agendamento";
}

<label style="font-weight:bold">Editar Agendamento</label>

<br />
<br />

<form asp-controller="Schedulings" asp-action="Update">
    <input asp-for="Id" type="hidden" value="@Model.Id" />
    <div class="form-row">
        <div class="form-group col-md-6">
            <label style="font-weight:bold">Colaborador</label>
            <select asp-for="IdCollaboratorViewModel" class="form-control" value="@Model.ResponseCollaboratorsViewModel.Where(rcvm => rcvm.Id == Model.IdCollaboratorViewModel).First().Id">
                @{
                    foreach (var item in Model.ResponseCollaboratorsViewModel)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
        </div>
        <div class="form-group col-md-6">
            <label style="font-weight:bold">Cliente</label>
            <select asp-for="IdCustomerViewModel" class="form-control" value="@Model.ResponseCustomersViewModel.Where(rcvm => rcvm.Id == Model.IdCustomerViewModel).First().Id">
                @{
                    foreach (var item in Model.ResponseCustomersViewModel)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label style="font-weight:bold">Serviço</label>
            <select asp-for="IdServiceProvidedViewModel" class="form-control" value="@Model.ResponseServicesProvidedViewModel.Where(rspvm => rspvm.Id == Model.IdServiceProvidedViewModel).First().Id">
                @{
                    foreach (var item in Model.ResponseServicesProvidedViewModel)
                    {
                        <option value="@item.Id">@item.Description</option>
                    }
                }
            </select>
        </div>
        <div class="form-group col-md-6">
            <label style="font-weight:bold">Data e Horário</label>
            <input asp-for="DateTime" class="form-control" type="datetime-local" required value="@Model.DateTime" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button class="btn btn-outline-warning btn-block" type="submit" style="font-weight:bold">Salvar</button>
        </div>
    </div>
</form>