﻿@model JLLF.Presentation.ViewModels.ServiceProvidedViewModel

@{
    ViewData["Title"] = "Serviço";
}

<label style="font-weight:bold">Inserir Serviço</label>

<br />
<br />

<form asp-controller="ServicesProvided" asp-action="Create">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label style="font-weight:bold">Descrição</label>
            <input asp-for="Description" class="form-control" type="text" />
            <span asp-validation-for="Description" class="text-danger" style="font-weight:bold"></span>
        </div>
        <div class="form-group col-md-6">
            <label style="font-weight:bold">Preço</label>
            <input asp-for="Price" class="form-control" type="text" placeholder="Exemplo: 13,99" required />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button class="btn btn-outline-warning btn-block" type="submit" style="font-weight:bold">Salvar</button>
        </div>
    </div>
</form>