﻿@model JLLF.Presentation.ViewModels.ResponseServiceProvidedViewModel

@{
    ViewData["Title"] = "Serviço";
}

<label style="font-weight:bold">Detalhes do Serviço</label>

<br />
<br />

<form asp-controller="ServicesProvided" asp-action="Details">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label style="font-weight:bold">Descrição</label>
            <br />
            <label>@Model.Description</label>
        </div>
        <div class="form-group col-md-6">
            <label style="font-weight:bold">Preço</label>
            <br />
            <label>@Model.Price</label>
        </div>
    </div>
</form>