﻿@model IList<JLLF.Presentation.ViewModels.ResponseServiceProvidedViewModel>

@{
    ViewData["Title"] = "Serviços";
}

<label style="font-weight:bold">Serviços</label>

<br />
<br />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" />

<table class="table table-responsive-sm">
    <thead>
        <tr>
            <th style="display:none">Código</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td style="display:none">@item.Id</td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    @if (@item.Status == true)
                     {
                        <td>Ativo</td>
                     }
                     else
                     {
                        <td>Inativo</td>
                     }
                    <td>
                    <td>
                        <button class="btn btn-outline-warning btn-sm" type="button" style="font-weight:bold" onclick="Details(@item.Id)">Detalhes</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-warning btn-sm" type="button" style="font-weight:bold" onclick="Update(@item.Id)">Editar</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<button class="btn btn-outline-warning btn-block" type="button" style="font-weight:bold" onclick="Create()">Novo</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<script>
    var strValue = "@((string)ViewBag.message)";

    if (strValue !== null && strValue !== '')
    {
        swal("", strValue, "success");
    }
</script>

<script>
    function Details(id)
    {
        window.location.href = "../ServicesProvided/Details/" + id;
    }

    function Update(id)
    {
        window.location.href = "../ServicesProvided/Update/" + id;
    }

    function UpdateStatus(id)
    {
        window.location.href = "../ServicesProvided/UpdateStatus/" + id;
    }

    function Create()
    {
        window.location.href = "../ServicesProvided/Create";
    }
</script>