﻿@model JLLF.Presentation.ViewModels.ResponseServiceProvidedViewModel

@{
    ViewData["Title"] = "Serviço";
}

<label style="font-weight:bold">Deseja realmente inativar o serviço @Model.Description?</label>

<br />
<br />

<form asp-controller="ServicesProvided" asp-action="UpdateStatus">
    <input asp-for="Id" type="hidden" value="@Model.Id" />
    <div class="form-row" hidden>
        <div class="form-group col-md-6" hidden>
            <label style="font-weight:bold" hidden>Descrição</label>
            <input asp-for="Description" class="form-control" type="hidden" required value="@Model.Description" />
        </div>
        <div class="form-group col-md-6" hidden>
            <label style="font-weight:bold" hidden>Preço</label>
            <input asp-for="Price" class="form-control" type="hidden" placeholder="Exemplo: 13,99" required value="@Model.Price" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button class="btn btn-outline-warning btn-block" type="submit" style="font-weight:bold">Sim</button>
        </div>
    </div>
</form>