﻿@model JLLF.Presentation.ViewModels.ResponseServiceProvidedViewModel

@{
    ViewData["Title"] = "Serviço";
}

<label style="font-weight:bold">Editar Serviço</label>

<br />
<br />

<form asp-controller="ServicesProvided" asp-action="Update">
    <input asp-for="Id" type="hidden" value="@Model.Id" />
    <div class="form-row">
        <div class="form-group col-md-6">
            <label style="font-weight:bold">Descrição</label>
            <input asp-for="Description" class="form-control" type="text" required value="@Model.Description" />
        </div>
        <div class="form-group col-md-6">
            <label style="font-weight:bold">Preço</label>
            <input asp-for="Price" class="form-control" type="text" placeholder="Exemplo: 13,99" required value="@Model.Price" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button class="btn btn-outline-warning btn-block" type="submit" style="font-weight:bold">Salvar</button>
        </div>
    </div>
</form>