﻿@model JLLF.Presentation.ViewModels.CollaboratorViewModel

@{
    ViewData["Title"] = "Colaborador";
}

<label style="font-weight:bold">Inserir Colaborador</label>

<br />
<br />

<form asp-controller="Collaborators" asp-action="Create">
    <div class="form-group">
        <label style="font-weight:bold">Nome</label>
        <input asp-for="Name" class="form-control" type="text" />
        <span asp-validation-for="Name" class="text-danger" style="font-weight:bold"></span>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label style="font-weight:bold">Gênero</label>
            <select asp-for="Gender" class="form-control">
                <option>Feminino</option>
                <option>Masculino</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label style="font-weight:bold">CPF</label>
            <input asp-for="CPF" class="form-control" type="text" placeholder="Exemplo: 000.000.000-00" />
            <span asp-validation-for="CPF" class="text-danger" style="font-weight:bold"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label style="font-weight:bold">Telefone</label>
            <input asp-for="TelephoneNumber" class="form-control" type="text" placeholder="Exemplo: 34 99999-9999" />
            <span asp-validation-for="TelephoneNumber" class="text-danger" style="font-weight:bold"></span>
        </div>
        <div class="form-group col-md-6">
            <label style="font-weight:bold">Função</label>
            <input asp-for="Function" class="form-control" type="text" />
            <span asp-validation-for="Function" class="text-danger" style="font-weight:bold"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button class="btn btn-outline-warning btn-block" type="submit" style="font-weight:bold">Salvar</button>
        </div>
    </div>
</form>