﻿@model JLLF.Presentation.ViewModels.ResponseCollaboratorViewModel

@{
    ViewData["Title"] = "Colaborador";
}

<label style="font-weight:bold">Detalhes do Colaborador</label>

<br />
<br />

<form asp-controller="Collaborators" asp-action="Details">
    <div class="form-group">
        <label style="font-weight:bold">Nome</label>
        <br />
        <label>@Model.Name</label>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label style="font-weight:bold">Gênero</label>
            <br />
            <label>@Model.Gender</label>
        </div>
        <div class="form-group col-md-6">
            <label style="font-weight:bold">CPF</label>
            <br />
            <label>@Model.CPF</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label style="font-weight:bold">Telefone</label>
            <br />
            <label>@Model.TelephoneNumber</label>
        </div>
        <div class="form-group col-md-6">
            <label style="font-weight:bold">Função</label>
            <br />
            <label>@Model.Function</label>
        </div>
    </div>
</form>