﻿@model JLLF.Presentation.ViewModels.ResponseCollaboratorViewModel

@{
    ViewData["Title"] = "Colaborador";
}

<label style="font-weight:bold">Deseja realmente inativar o colaborador @Model.Name?</label>

<br />
<br />

<form asp-controller="Collaborators" asp-action="UpdateStatus">
    <input asp-for="Id" type="hidden" value="@Model.Id" />
    <div class="form-group" hidden>
        <label style="font-weight:bold" hidden>Nome</label>
        <input asp-for="Name" class="form-control" type="hidden" required value="@Model.Name" />
    </div>
    <div class="form-row" hidden>
        <div class="form-group col-md-6" hidden>
            <label style="font-weight:bold" hidden>Gênero</label>
            <select asp-for="Gender" class="form-control" hidden value="@Model.Gender">
                <option hidden>Feminino</option>
                <option hidden>Masculino</option>
            </select>
        </div>
        <div class="form-group col-md-6" hidden>
            <label style="font-weight:bold" hidden>CPF</label>
            <input asp-for="CPF" class="form-control" type="hidden" placeholder="Exemplo: 000.000.000-00" required value="@Model.CPF" />
        </div>
    </div>
    <div class="form-row" hidden>
        <div class="form-group col-md-6" hidden>
            <label style="font-weight:bold" hidden>Telefone</label>
            <input asp-for="TelephoneNumber" class="form-control" type="hidden" placeholder="Exemplo: 34 99999-9999" required value="@Model.TelephoneNumber" />
        </div>
        <div class="form-group col-md-6" hidden>
            <label style="font-weight:bold" hidden>Função</label>
            <input asp-for="Function" class="form-control" type="hidden" required value="@Model.Function" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button class="btn btn-outline-warning btn-block" type="submit" style="font-weight:bold">Sim</button>
        </div>
    </div>
</form>