﻿@model JLLF.Presentation.ViewModels.UserViewModel

@{
    Layout = null;
}

@{
    ViewData["Title"] = "Acessar Sistema";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<link rel="stylesheet" href="~/css/site.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" />

<form asp-controller="Home" asp-action="SignIn">
    <div class="container py-5 mh-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-black" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <label style="color: white; font-weight: bold;">Acessar Sistema</label>
                            <br />
                            <br />
                            <br />
                            <div class="form-outline form-white mb-4">
                                <input asp-for="EmailAddress" class="form-control" type="text" required placeholder="E-mail" />
                                <br />
                                <span asp-validation-for="EmailAddress" class="text-danger" style="font-weight:bold"></span>
                            </div>
                            <div class="form-outline form-white mb-4">
                                <input asp-for="Password" class="form-control" type="password" maxlength="15" required placeholder="Senha" />
                                <br />
                                <span asp-validation-for="Password" class="text-danger" style="font-weight:bold"></span>
                            </div>
                            <button class="btn btn-outline-warning btn-block" type="submit" style="font-weight:bold">Entrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<script>
    var strValue = "@((string)ViewBag.message)";

    if (strValue !== null && strValue !== '')
    {
        swal("", strValue, "error");
    }
</script>