﻿@{
    ViewData["Title"] = "Relatório de Agendamentos";
}

<label style="font-weight:bold">Relatório De Agendamentos</label>

<br />
<br />

<button class="btn btn-outline-warning btn-block" type="button" style="font-weight:bold" onclick="ByPeriod()">Por Período</button>

<script>
    function ByPeriod()
    {
        window.location.href = "../Reports/ReadByPeriod";
    }
</script>