﻿@model JLLF.Presentation.ViewModels.ReportViewModel

@{
    ViewData["Title"] = "Relatório de Agendamentos por Período";
}

<label style="font-weight:bold">Relatório de Agendamentos por Período</label>

<br />
<br />

<form asp-controller="Reports" asp-action="ReportByPeriod">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label style="font-weight:bold">Data Inicial</label>
            <input asp-for="InitialDate" class="form-control" type="datetime-local" required value="@DateTime.Now" />
            <span asp-validation-for="InitialDate" class="text-danger" style="font-weight:bold"></span>
        </div>   
        <div class="form-group col-md-6">
            <label style="font-weight:bold">Data Final</label>
            <input asp-for="FinalDate" class="form-control" type="datetime-local" required value="@DateTime.Now" />
            <span asp-validation-for="FinalDate" class="text-danger" style="font-weight:bold"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button class="btn btn-outline-warning btn-block" type="submit" style="font-weight:bold">Pesquisar</button>
        </div>
    </div>
</form>