﻿@model IList<JLLF.Presentation.ViewModels.ResponseSchedulingViewModel>

@{
    ViewData["Title"] = "Relatório de Agendamentos por Período";
}

<label style="font-weight:bold">Relatório de Agendamentos por Período</label>

<br />
<br />

<table class="table table-responsive-sm">
    <thead>
        <tr>
            <th style="display:none">Código</th>
            <th>Colaborador</th>
            <th>Cliente</th>
            <th>Serviço</th>
            <th>Data</th>
            <th>Horário</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td style="display:none">@item.Id</td>
                    <td>@item.CollaboratorViewModel.Name</td>
                    <td>@item.CustomerViewModel.Name</td>
                    <td>@item.ServiceProvidedViewModel.Description</td>
                    <td>@item.DateTime.Date.ToShortDateString()</td>
                    <td>@item.DateTime.TimeOfDay</td>
                    @if (@item.Status == true)
                     {
                        <td>Atendido</td>
                     }
                     else
                     {
                        <td>Aguardando</td>
                     }
                </tr>
            }
        }
    </tbody>
</table>