﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body onload="FindUsersEmailAddressLoggedIn()">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Início</a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Schedulings" asp-action="Index">Agendamentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Collaborators" asp-action="Index">Colaboradores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Index">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ServicesProvided" asp-action="Index">Serviços</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Index">Relatórios</a>
                        </li>
                    </ul>
                    @using Microsoft.AspNetCore.Http
                    @inject IHttpContextAccessor HttpContextAccessor
                    <div id="UsersEmailAddressLoggedIn"></div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">@RenderBody()</main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">&copy; 2021 - Versão 1.0.0</div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

<script>
        function FindUsersEmailAddressLoggedIn()
        {
            var emailAddress = '@HttpContextAccessor.HttpContext.Session.GetString("UsersEmailAddressLoggedIn")';

            if (emailAddress != "")
            {
                var usersEmailAddressLoggedIn = document.getElementById("UsersEmailAddressLoggedIn");

                usersEmailAddressLoggedIn.innerHTML = "Olá " + emailAddress + " <a href='../Home/SignIn/0'>(Sair)</a>";

                usersEmailAddressLoggedIn.style = "color:#000000; padding-top:8px;";
            }
            else
            {
                window.location.href = "../Home/SignIn";
            }
        }
</script>
</body>
</html>